<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title> Admit One </title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
  <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript" charset="utf-8"></script>
  <%= stylesheet_link_tag 'simpleTicker.css' %>
  <script src="http://www.goat1000.com/tagcanvas.js?2.1.1" type="text/javascript"></script>

</head>
<body>
<style>
    .left {
        float: left;
        width: 50%;
        height: 680px;
        background-color: #D2E0DD;
    }
</style>
<style>
    .right {
        float: right;
        width: 50%;
        height: 680px;
        max-height: 50%;
        background-color: #D2E0DD;
    }
</style>
<div class="left">
  <h2 align=center><b><%= @imdb_data['title'] %></b></h2>
  <img src="<%= @imdb_data['poster'] %>" style=" display: block; margin-left: auto; margin-right: auto"/> <br/>
  <b>Runtime:</b><%= @imdb_data['runtime'][0] %>
  <br/>
  <b>Rating: </b><%= @imdb_data['rating'] %>
  <br/>
  <b>Language: </b><%= @imdb_data['language'][0] %>
  <br/>
  <b>Plot: </b><%= @imdb_data['plot'] %>
  <br/>
  <b>IMDB URL: </b><%= @imdb_data['imdb_url'] %>
  <br/>
  <b>Year:</b><%= @imdb_data['year'] %>
  <br/>
</div>
<div class="right">
  <h2 align=center><b>Tweets about the movie</b></h2>

  <div id="tickerContainer">
    <dl id="ticker">
      <% @twitter_data['response']['docs'].each do |data| %>
          <dt class="heading"><%= data['timestamp'].gsub("T", " ").gsub("Z", " ") %></dt>
          <dd class="text"><%= data['tweet'] %></dd>
      <% end %>
    </dl>
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript">
      $(function () {
          //cache the ticker
          var ticker = $("#ticker");
          //wrap dt:dd pairs in divs
          ticker.children().filter("dt").each(function () {

              var dt = $(this),
                      container = $("<div>");

              dt.next().appendTo(container);
              dt.prependTo(container);

              container.appendTo(ticker);
          });

          //hide the scrollbar
          ticker.css("overflow", "hidden");

          //animator function
          function animator(currentItem) {

              //work out new anim duration
              var distance = currentItem.height();
              duration = (distance + parseInt(currentItem.css("marginTop"))) / 0.025;

              //animate the first child of the ticker
              currentItem.animate({ marginTop:-distance }, duration, "linear", function () {

                  //move current item to the bottom
                  currentItem.appendTo(currentItem.parent()).css("marginTop", 0);

                  //recurse
                  animator(currentItem.parent().children(":first"));
              });
          }

          ;

          //start the ticker
          animator(ticker.children(":first"));

          //set mouseenter
          ticker.mouseenter(function () {

              //stop current animation
              ticker.children().stop();

          });

          //set mouseleave
          ticker.mouseleave(function () {

              //resume animation
              animator(ticker.children(":first"));

          });
      });
  </script>
</div>
<br/>
<br/>
<br/>
<br/>
<b>FaceBook page URL:</b> <%= @facebook_data['url'] %>
<br/>
<b>FaceBook page fan count: </b><%= @facebook_data['fan_count'] %>
<br/>
<b>FaceBook page description: </b><%= @facebook_data['description'] %>
<h2>Related/Frequent keywords</h2>

<div id="myCanvasContainer">
  <canvas width="1200" height="600" id="myCanvas">
    <p>Anything in here will be replaced on browsers that support the canvas element</p>
  </canvas>
</div>

<div id='tags'>
  <ul>
    <% for i in 0...@twitter_data['facet_counts']['facet_fields']['tweet'].length %>
        <% if @twitter_data['facet_counts']['facet_fields']['tweet'][i+1] == 1 %>
            <% break %>
        <% end %>
        <% if (i%2 !=0) %>
            <% next %>
        <% end %>
        <li><a href="#">
          <%= @twitter_data['facet_counts']['facet_fields']['tweet'][i] %>
        </a></li>
        <br/>
    <% end %>
  </ul>
</div>


<script type="text/javascript">
    window.onload = function() {
        try {
            TagCanvas.Start('myCanvas','tags',{
                textColour: '#000000',
                outlineColour: '#000000',
                reverse: true,
                depth: 0.8,
                maxSpeed: 0.05
            });
        } catch(e) {
            // something went wrong, hide the canvas container
            document.getElementById('myCanvasContainer').style.display = 'none';
        }
    };
</script>
</body>
</html>