<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title> Admit One </title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
  <%= stylesheet_link_tag 'simpleTicker.css' %>
</head>
<body>
<style>
    .left {
        float: left;
        width: 50%;
        height: 565px;
        background-color: #D2E0DD;
    }
</style>
<style>
    .right {
        float: right;
        width: 50%;
        height: 50%;
        max-height: 50%;
        background-color: #D2E0DD;
    }
</style>
<div class="left">
  <h2 align=center><b>From IMDB</b></h2>
  <img src="<%= @imdb_data['poster'] %>"/> <br/>
  <b>Runtime:</b><%= @imdb_data['runtime'][0] %>
  <br/>
  <b>Rating: </b><%= @imdb_data['rating'] %>
  <br/>
  <b>Language: </b><%= @imdb_data['language'][0] %>
  <br/>
  <b>Plot: </b><%= @imdb_data['plot'] %>
  <br/>
  <b>IMDB URL: </b><%= @imdb_data['imdb_url'] %>
  <br/>
  <b>Year:</b><%= @imdb_data['year'] %>
  <br/>
</div>
<div class="right">
  <h2 align=center><b>Twitter Movie Information</b></h2>

  <div id="tickerContainer">
    <dl id="ticker">
      <% @twitter_data.each do |data| %>
          <dt class="heading"><%= data['timestamp'] %></dt>
          <dd class="text"><%= data['tweet'] %></dd>
      <% end %>
    </dl>
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript">
      $(function () {
          //cache the ticker
          var ticker = $("#ticker");
          //wrap dt:dd pairs in divs
          ticker.children().filter("dt").each(function () {

              var dt = $(this),
                      container = $("<div>");

              dt.next().appendTo(container);
              dt.prependTo(container);

              container.appendTo(ticker);
          });

          //hide the scrollbar
          ticker.css("overflow", "hidden");

          //animator function
          function animator(currentItem) {

              //work out new anim duration
              var distance = currentItem.height();
              duration = (distance + parseInt(currentItem.css("marginTop"))) / 0.025;

              //animate the first child of the ticker
              currentItem.animate({ marginTop:-distance }, duration, "linear", function () {

                  //move current item to the bottom
                  currentItem.appendTo(currentItem.parent()).css("marginTop", 0);

                  //recurse
                  animator(currentItem.parent().children(":first"));
              });
          }

          ;

          //start the ticker
          animator(ticker.children(":first"));

          //set mouseenter
          ticker.mouseenter(function () {

              //stop current animation
              ticker.children().stop();

          });

          //set mouseleave
          ticker.mouseleave(function () {

              //resume animation
              animator(ticker.children(":first"));

          });
      });
  </script>
</div>

</body>
</html>